In [1]:
#__________________________PREPARATION_____________________________#
#importing pandas and reading 12 csv files 
import pandas as pd

df1 = pd.read_csv("C:/Users/stins/cyclistic_tripdata/XLX/202205.csv")
df2 =  pd.read_csv("C:/Users/stins/cyclistic_tripdata/XLX/202206.csv")
df3 =  pd.read_csv("C:/Users/stins/cyclistic_tripdata/XLX/202207.csv")
df4 =  pd.read_csv("C:/Users/stins/cyclistic_tripdata/XLX/202208.csv")
df5 =  pd.read_csv("C:/Users/stins/cyclistic_tripdata/XLX/202209.csv")
df6 =  pd.read_csv("C:/Users/stins/cyclistic_tripdata/XLX/202210.csv")
df7 =  pd.read_csv("C:/Users/stins/cyclistic_tripdata/XLX/202211.csv")
df8 =  pd.read_csv("C:/Users/stins/cyclistic_tripdata/XLX/202212.csv")
df9 =  pd.read_csv("C:/Users/stins/cyclistic_tripdata/XLX/202301.csv")
df10 = pd.read_csv("C:/Users/stins/cyclistic_tripdata/XLX/202302.csv")
df11 = pd.read_csv("C:/Users/stins/cyclistic_tripdata/XLX/202303.csv")
df12 = pd.read_csv("C:/Users/stins/cyclistic_tripdata/XLX/202304.csv")

In [2]:
#combining all 12 datasets into one dataset.
data = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12])

#_________________________Exploration__________________________#

data.info() # summary about the dataframe.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5859061 entries, 0 to 426589
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
 13  ride_length         object
 14  day_of_week         int64
 15                      object
dtypes: float64(4), int64(1), object(11)
memory usage: 759.9+ MB

In [6]:
# changing the datatype of ('started at' and 'ended at') date from object to datetime64.
data['started_at'] = pd.to_datetime(data['started_at'])
data['ended_at'] = pd.to_datetime(data['ended_at'])

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5859061 entries, 0 to 426589
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
 13  ride_length         object
 14  day_of_week         int64
 15                      object
dtypes: datetime64[ns](2), float64(4), int64(1), object(9)
memory usage: 759.9+ MB

In [10]:
#from the column extract day, month and year.
data['year'] = data['started_at'].dt.year
data['month'] = data['started_at'].dt.month_name()
data['week_day'] = data['started_at'].dt.day_name()

data.head(10) # checking first 10 rows of the dataframe

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,day_of_week,,year,month,week_day
0,EC2DE40644C6B0F4,classic_bike,2022-05-23 23:06:58,2022-05-23 23:40:19,Wabash Ave & Grand Ave,TA1307000117,Halsted St & Roscoe St,TA1309000025,41.891466,-87.626761,41.943670,-87.648950,member,00.33.21,2,NaN,2022,May,Monday
1,1C31AD03897EE385,classic_bike,2022-05-11 08:53:28,2022-05-11 09:31:22,DuSable Lake Shore Dr & Monroe St,13300,Field Blvd & South Water St,15534,41.880958,-87.616743,41.886349,-87.617517,member,00.37.54,4,NaN,2022,May,Wednesday
2,1542FBEC830415CF,classic_bike,2022-05-26 18:36:28,2022-05-26 18:58:18,Clinton St & Madison St,TA1305000032,Wood St & Milwaukee Ave,13221,41.882242,-87.641066,41.907655,-87.672552,member,00.21.50,5,NaN,2022,May,Thursday
3,6FF59852924528F8,classic_bike,2022-05-10 07:30:07,2022-05-10 07:38:49,Clinton St & Madison St,TA1305000032,Clark St & Randolph St,TA1305000030,41.882242,-87.641066,41.884576,-87.631890,member,00.08.42,3,NaN,2022,May,Tuesday
4,483C52CAAE12E3AC,classic_bike,2022-05-10 17:31:56,2022-05-10 17:36:57,Clinton St & Madison St,TA1305000032,Morgan St & Lake St,TA1306000015,41.882242,-87.641066,41.885779,-87.651025,member,00.05.01,3,NaN,2022,May,Tuesday
5,C0A3AA5A614DCE01,classic_bike,2022-05-04 14:48:55,2022-05-04 14:56:04,Carpenter St & Huron St,13196,Sangamon St & Washington Blvd,13409,41.894556,-87.653449,41.883165,-87.651100,member,00.07.09,4,NaN,2022,May,Wednesday
6,F2AF43A242DF4555,classic_bike,2022-05-27 12:41:48,2022-05-27 12:50:41,Noble St & Milwaukee Ave,13290,Wood St & Augusta Blvd,657,41.900680,-87.662600,41.899181,-87.672200,member,00.08.53,6,NaN,2022,May,Friday
7,377BE1F5F0E399CA,docked_bike,2022-05-29 19:19:24,2022-05-29 19:31:34,Halsted St & Wrightwood Ave,TA1309000061,Southport Ave & Clybourn Ave,TA1309000030,41.929143,-87.649077,41.920771,-87.663712,casual,00.12.10,1,NaN,2022,May,Sunday
8,B136E0C969773F59,classic_bike,2022-05-16 17:48:44,2022-05-16 18:05:26,Clinton St & Madison St,TA1305000032,Clybourn Ave & Division St,TA1307000115,41.882242,-87.641066,41.904613,-87.640552,member,00.16.42,2,NaN,2022,May,Monday
9,75F6A50A05E0AA18,electric_bike,2022-05-11 07:29:29,2022-05-11 07:30:57,Southport Ave & Waveland Ave,13235,N Southport Ave & W Newport Ave,20257,41.948067,-87.664012,41.940000,-87.660000,member,00.01.28,4,NaN,2022,May,Wednesday

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5859061 entries, 0 to 426589
Data columns (total 19 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
 13  ride_length         object
 14  day_of_week         int64
 15                      object
 16  year                int64
 17  month               object
 18  week_day            object
dtypes: datetime64[ns](2), float64(4), int64(2), object(11)
memory usage: 894.0+ MB

In [3]:
#______________________________Cleaning____________________________#
# removing unwanted columns from dataframe using the drop() function
data = data.drop(['start_station_id','end_station_id'], axis = 1)

In [20]:
data = data.drop([' '], axis = 1) #removed an unnamed column.

In [25]:
data = data.drop(['start_lat','start_lng','end_lat','end_lng'], axis = 1) #removed lats and longs.

In [22]:
data = data.reset_index(drop = True) #reset the index back to the default 0, 1, 2 etc indexes.

In [32]:
#droping all null values in dataframe.
data = data.dropna()

In [29]:
data = data.reset_index(drop = True)

In [34]:
data.to_csv("C:/Users/stins/cyclistic_tripdata/XLX/Cyclistic_cleaned_data.csv")

In [35]:
data

,ride_id,rideable_type,started_at,ended_at,start_station_name,end_station_name,member_casual,ride_length,day_of_week,year,month,week_day
0,EC2DE40644C6B0F4,classic_bike,2022-05-23 23:06:58,2022-05-23 23:40:19,Wabash Ave & Grand Ave,Halsted St & Roscoe St,member,00.33.21,2,2022,May,Monday
1,1C31AD03897EE385,classic_bike,2022-05-11 08:53:28,2022-05-11 09:31:22,DuSable Lake Shore Dr & Monroe St,Field Blvd & South Water St,member,00.37.54,4,2022,May,Wednesday
2,1542FBEC830415CF,classic_bike,2022-05-26 18:36:28,2022-05-26 18:58:18,Clinton St & Madison St,Wood St & Milwaukee Ave,member,00.21.50,5,2022,May,Thursday
3,6FF59852924528F8,classic_bike,2022-05-10 07:30:07,2022-05-10 07:38:49,Clinton St & Madison St,Clark St & Randolph St,member,00.08.42,3,2022,May,Tuesday
4,483C52CAAE12E3AC,classic_bike,2022-05-10 17:31:56,2022-05-10 17:36:57,Clinton St & Madison St,Morgan St & Lake St,member,00.05.01,3,2022,May,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
5859056,8B441A6C436E9900,classic_bike,2023-04-29 21:20:21,2023-04-29 21:30:19,Halsted St & 18th St,Blue Island Ave & 18th St,casual,00.09.58,7,2023,April,Saturday
5859057,3980D64BE11540F1,classic_bike,2023-04-24 09:16:05,2023-04-24 09:22:27,Halsted St & 18th St,Blue Island Ave & 18th St,casual,00.06.22,2,2023,April,Monday
5859058,3EF4B49FF7DAA02C,classic_bike,2023-04-18 07:53:51,2023-04-18 07:59:16,Franklin St & Jackson Blvd,Clark St & Randolph St,casual,00.05.25,3,2023,April,Tuesday
5859059,210B2ED6583DC231,classic_bike,2023-04-29 07:33:55,2023-04-29 07:38:57,Michigan Ave & Lake St,Clark St & Randolph St,casual,00.05.02,7,2023,April,Saturday
5859060,D29CB39B9E3FC46A,electric_bike,2023-04-18 08:00:32,2023-04-18 08:02:35,Franklin St & Jackson Blvd,Clark St & Ida B Wells Dr,casual,00.02.03,3,2023,April,Tuesday